@import url("https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif|Muli|PT+Serif|Prociono|Slabo+27px|Source+Sans+Pro|Trirong|Ubuntu|Aref+Ruqaa|Great+Vibes|Philosopher|Roboto+Condensed|Bitter|Source+Sans+Pro|Acme|Raleway|Work+Sans|Tangerine:wght@900|Oleo+Script:wght@700&display=swap");
@import"nib"
@import"typographic"

rupture.scale = 0 400px 650px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'



.buttonDeep
    background: #24085E !important


.primaryColor
    background: #24085E

.textDeep
    color: #310F77 !important

.row1
    min-height: 100vh
    background: #310F77
    padding-top: 100px
    padding-bottom: 30px

.row2
    min-height: 400px
    background: white
    padding-bottom: 50px
    padding-top: 100px

.row3
    min-height: 400px
    background: #F5F5F5
    padding-bottom: 50px
    padding-top: 100px

.row4
    min-height: 400px
    background: linear-gradient(rgba(7,1,20,0.7), rgba(8,1,20,0.8)), url('../images/bgx.png') no-repeat
    background-image: linear-gradient(rgba(7,1,20,0.7), rgba(8,1,20,0.8)), url('../images/bgx.png') no-repeat
    background-size: cover
    background-position: center
    padding-bottom: 30px


.row5
    min-height: 500px
    background: white

.footer
    min-height: 400px
    background: #201E22



.welcome-text

    h2
        font-weight: 900

.spiralAnim
    background: url('../images/spiralanime.gif') left 100px top -60px no-repeat   
    background-size: ;
    height: 500px  
    

.spiralLine
    min-height: 400px
    background: url('../images/group-lines.png') no-repeat
    margin-top -50px


.featureCard
    min-height 300px

    .card-mini
        height 180px
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.09)
        border-radius: 0 0 5px 5px
        // padding: 5px 20px 5px 20px

    .hcard
        border-radius: 5px
        height: 50px
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.09)
        margin-top: -20px
        position relative
        z-index 1
        background #ffffff
        margin: 5px


.auth
    min-height: 100vh

    .authBg
        background: url('../images/authBg.png') no-repeat
        background-size: cover
        background-position:center
        height: 100vh
        padding: 50px



.gridBg
    background: #5300FF
    height: 120px
    border-radius: 10px


+above('m')
    .menuWidth
        width: 800px !important 
    


 +below('m')   
    .spiralLine
        min-height: 200px
        background: url('../images/group-lines.png') no-repeat
        margin-top -100px
        display: none
    
    .spiralAnim
        background: url('../images/spiralanime.gif') top -100px left -20px no-repeat   
        background-size: cover ;
        height: 300px
    
    .authBg
        display: none