@import url("https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif|Muli|PT+Serif|Prociono|Slabo+27px|Source+Sans+Pro|Trirong|Ubuntu|Aref+Ruqaa|Great+Vibes|Philosopher|Roboto+Condensed|Bitter|Source+Sans+Pro|Acme|Raleway|Work+Sans|Tangerine:wght@900|Oleo+Script:wght@700&display=swap");
.buttonDeep {
  background: #24085e !important;
}
.primaryColor {
  background: #24085e;
}
.textDeep {
  color: #310f77 !important;
}
.row1 {
  min-height: 100vh;
  background: #310f77;
  padding-top: 100px;
  padding-bottom: 30px;
}
.row2 {
  min-height: 400px;
  background: #fff;
  padding-bottom: 50px;
  padding-top: 100px;
}
.row3 {
  min-height: 400px;
  background: #f5f5f5;
  padding-bottom: 50px;
  padding-top: 100px;
}
.row4 {
  min-height: 400px;
  background: -webkit-linear-gradient(rgba(7,1,20,0.7), rgba(8,1,20,0.8)), url("../images/bgx.png") no-repeat;
  background: -moz-linear-gradient(rgba(7,1,20,0.7), rgba(8,1,20,0.8)), url("../images/bgx.png") no-repeat;
  background: -o-linear-gradient(rgba(7,1,20,0.7), rgba(8,1,20,0.8)), url("../images/bgx.png") no-repeat;
  background: -ms-linear-gradient(rgba(7,1,20,0.7), rgba(8,1,20,0.8)), url("../images/bgx.png") no-repeat;
  background: linear-gradient(rgba(7,1,20,0.7), rgba(8,1,20,0.8)), url("../images/bgx.png") no-repeat;
  background-image: -webkit-linear-gradient(rgba(7,1,20,0.7), rgba(8,1,20,0.8)), url("../images/bgx.png") no-repeat;
  background-image: -moz-linear-gradient(rgba(7,1,20,0.7), rgba(8,1,20,0.8)), url("../images/bgx.png") no-repeat;
  background-image: -o-linear-gradient(rgba(7,1,20,0.7), rgba(8,1,20,0.8)), url("../images/bgx.png") no-repeat;
  background-image: -ms-linear-gradient(rgba(7,1,20,0.7), rgba(8,1,20,0.8)), url("../images/bgx.png") no-repeat;
  background-image: linear-gradient(rgba(7,1,20,0.7), rgba(8,1,20,0.8)), url("../images/bgx.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  padding-bottom: 30px;
}
.row5 {
  min-height: 500px;
  background: #fff;
}
.footer {
  min-height: 400px;
  background: #201e22;
}
.welcome-text h2 {
  font-weight: 900;
}
.spiralAnim {
  background: url("../images/spiralanime.gif") left 100px top -60px no-repeat;
  height: 500px;
}
.spiralLine {
  min-height: 400px;
  background: url("../images/group-lines.png") no-repeat;
  margin-top: -50px;
}
.featureCard {
  min-height: 300px;
}
.featureCard .card-mini {
  height: 250px;
  -webkit-box-shadow: 0px 4px 8px rgba(0,0,0,0.09);
  box-shadow: 0px 4px 8px rgba(0,0,0,0.09);
  border-radius: 0 0 5px 5px;
}
.featureCard .hcard {
  border-radius: 5px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 8px rgba(0,0,0,0.09);
  box-shadow: 0px 4px 8px rgba(0,0,0,0.09);
  margin-top: -20px;
  position: relative;
  z-index: 1;
  background: #fff;
  margin: 5px;
}
.auth {
  min-height: 100vh;
}
.auth .authBg {
  background: url("../images/authBg.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 50px;
}
@media only screen and (min-width: 650px) {
  .menuWidth {
    width: 800px !important;
  }
}
@media only screen and (max-width: 800px) {
  .spiralLine {
    min-height: 200px;
    background: url("../images/group-lines.png") no-repeat;
    margin-top: -100px;
    display: none;
  }
  .spiralAnim {
    background: url("../images/spiralanime.gif") top -100px left -20px no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 300px;
  }
  .authBg {
    display: none;
  }
}
